.git/**
.vscode/**

.gitignore
AGENT.md
*.code-workspace
package-lock.json

*.vsix
*.log
**/*.log
**/*.map
**/*.tsbuildinfo

client/src/**
server/src/**
client/tsconfig.json
server/tsconfig.json
client/package.json
server/package.json
client/package-lock.json
server/package-lock.json

**/node_modules/typescript/**
**/node_modules/@types/**
**/node_modules/vscode/**
**/node_modules/vscode-test/**
**/node_modules/diff/**
**/node_modules/glob/**
**/node_modules/mocha/**
**/node_modules/source-map/**
**/node_modules/source-map-support/**
**/node_modules/https-proxy-agent/**
**/node_modules/http-proxy-agent/**
**/node_modules/@tootallnate/**
**/node_modules/inflight/**
**/node_modules/inherits/**
**/node_modules/once/**
**/node_modules/wrappy/**

**/.bin/**
**/test/**
**/tests/**
**/.vscode-test/**
**/.cache/**
